@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Nunito';
		font-weight: 200;
		font-display: swap;
		src: url('/fonts/Nunito/ExtraLight.woff2') format('woff2');
		src: url('/fonts/Nunito/ExtraLight.woff') format('woff');
	}
	@font-face {
		font-family: 'Nunito';
		font-weight: 300;
		font-display: swap;
		src: url('/fonts/Nunito/Light.woff2') format('woff2');
		src: url('/fonts/Nunito/Light.woff') format('woff');
	}
	@font-face {
		font-family: 'Nunito';
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Nunito/Regular.woff2') format('woff2');
		src: url('/fonts/Nunito/Regular.woff') format('woff');
	}
	@font-face {
		font-family: 'Nunito';
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/Nunito/Medium.woff2') format('woff2');
		src: url('/fonts/Nunito/Medium.woff') format('woff');
	}
	@font-face {
		font-family: 'Nunito';
		font-weight: 600;
		font-display: swap;
		src: url('/fonts/Nunito/SemiBold.woff2') format('woff2');
		src: url('/fonts/Nunito/SemiBold.woff') format('woff');
	}
	@font-face {
		font-family: 'Nunito';
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/Nunito/Bold.woff2') format('woff2');
		src: url('/fonts/Nunito/Bold.woff') format('woff');
	}
}

:root {
	color-scheme: dark;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

.circle-bottom {
	clip-path: polygon(0% 47%, 100% 47%, 100% 100%, 0% 100%);
}

.projects-span {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

.lineParent {
  overflow: hidden;
}

@supports (-webkit-text-stroke: 1px #000) {
	.projects-span {
		-webkit-text-stroke: 1px #000;
		text-shadow: none;
	}
}

#gradient-canvas {
	width: 100%;
	height: 100%;
	--gradient-color-1: #dc3353;
	--gradient-color-2: #e04352;
	--gradient-color-3: #e55251;
	--gradient-color-4: #e8604f;
	--gradient-color-5: #ea6a4e;
}

